html {
  scroll-behavior: smooth;
}
body {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  background-color: #171717;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
}
.header_container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 218px;
  height: 50px;
  border: 1px solid #e4b564;
}
.button_image {
  width: 16px;
  height: 16px;
}
.button_text {
  font-family: "Circe";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
}
.offer {
  padding-bottom: 150px;
  background-image: url("../img/header-bg.jpeg");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.offer_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section_title {
  font-size: 50px;
  line-height: 28px;
}
.offer_items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  gap: 25px;
  grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
}
.offer_item {
  display: flex;
  padding: 42px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.offer_item_one {
  grid-area: item1;
  background-color: #634f2c;
}
.offer_item_two {
  grid-area: item2;
  background-color: #b4a385;
}
.offer_item_three {
  grid-area: item3;
  background-color: #e4b564;
}
.offer_item_four {
  grid-area: item4;
  background-color: #635a4a;
}
.offer_item_five {
  grid-area: item5;
  background-color: #b08c4d;
}
.vehicles {
  padding-top: 20px;
}

.vehicles_items {
  margin-top: 94px;
  display: flex;
  gap: 25px;
}

.vehicles_items_column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 25px;
}

.vehicles_item {
  padding: 40px 0 0 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.vehicles_item_one {
  height: 312px;
  background-color: #0e0e0e;
}
.vehicles_item_two {
  height: 560px;
  background-color: #1f1f1f;
}
.vehicles_item_three {
  height: 440px;
  background-color: #242424;
}
.vehicles_item_four {
  height: 405px;
  color: #000000;
  background-color: #e4b564;
}
.vehicles_item_five {
  height: 258px;
  background-color: #1f1f1f;
}
.vehicles_item_six {
  height: 312px;
  background-color: #0e0e0e;
}
.vehicles_item_seven {
  height: 278px;
  background-color: #0a0909;
}
.clients {
  padding-top: 160px;
  padding-bottom: 240px;
  background-image: url("../img/parallax-bg.jpeg");
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.clients_header {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 390px);
}
.clients_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients_item_one {
  background-color: #634f2c;
}
.clients_item_two {
  flex-direction: column;
  background-color: rgba(232, 210, 171, 0.76);
}
.clients_item_two > p {
  max-width: 326px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
}
.clients_item_three {
  background-color: #e4b564;
}
.clients_item_four {
  background-color: #635a4a;
}
.clients_item_five {
  background-color: #b08c4d;
}
.clients_item_six {
  background-color: #634f2c;
}
